@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 400px;
  max-height: 600px;
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100vh;
  max-height: 600px;
  overflow: hidden;
}

